@font-face {
    font-family: "Open Sans";
    src: url("./fonts/OpenSans-Medium.woff2") format("woff2"),
        url("./fonts/OpenSans-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url("./fonts/OpenSans-Regular.woff2") format("woff2"),
        url("./fonts/OpenSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url("./fonts/OpenSans-Bold.woff2") format("woff2"),
        url("./fonts/OpenSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html {
    font-size: 10px;
    box-sizing: border-box;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #333333;
    font-size: 1.8rem;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 3rem;
    color: #2e455a;
}

h2 {
    font-size: 2.4rem;
    color: #2e455a;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.container {
    width: 114rem;
    margin: 0 auto;
}

.box-outer {
    box-shadow: 0 10px 20px -10px rgb(149 149 149 / 50%);
    border-radius: 2rem;
}

nav {
    margin: 2rem 0;
}

nav .container {
    padding: 3rem 4rem;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    font-size: 2rem;
    font-weight: bold;
}
